#
# Set default charset for multilingual support
#
AddDefaultCharset UTF-8
AddCharset UTF-8 .php

#
# Prevent Directory Listing
#
Options -Indexes

# Set max upload size in PHP
# php_value upload_max_filesize 100M

#
# .htaccess redirection
#
Options +FollowSymLinks

# Redirect all requests to router.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ router.php [QSA,L]
